h1,p{font-family:"avenir next condensed";
      letter-spacing:2px;
		   position:relative;left:25px;}
h3{color:rgb(236,145,135);
	 font-family:"avenir next condensed";
   letter-spacing:2px;}
 h6{font-family:"avenir next condensed";
    letter-spacing:2px;}

  #brand:hover {
	   transform:translate(6px, 0);
	   transition: 0.3s ease-out;}

	 #brand:hover ~ #logo {
	   opacity: 1;
	   transition: 0.3s 0s ease-in;
	   transform: rotate(0deg);}

.btn-danger{margin-left:45%;}
.about{font-family:"avenir next condensed";
       text-align:center;}
.nav-link{font-family:"avenir next condensed";
letter-spacing:2px;}

.fp{
	border-bottom:solid black 1px;
	padding:10px 0px;}

 .caption{
 	text-align:center;
 	position:absolute;
 	top:50%;right:15%;
 	z-index:100%;
 	background-color:rgba(0,0,0,0.2);
 	color:white;
 	padding:0.5em 0;
 	width:75%;
  font-family:"avenir next condensed";
  letter-spacing:2px;}
